*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 51, 50);
    color: rgb(52, 75, 221);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1 {
    color: rgb(240, 232, 0);
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid rgb(114, 111, 14);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
    padding: 5px;
}

td:last-child {
    text-align: center;
}

button {
    padding: 5px;
    background-color: rgb(52, 75, 221);
    color: rgb(240, 232, 0);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.delete-btn {
    border-radius: 10px;
    color: rgb(52, 75, 221);
    background-color: rgba(255, 255, 0, 0.716);
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.td-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}